:root {
  background: #ff0000;
}
.container {
  height: 10pc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(216, 216, 143);
}
h1 {
  --header: #3e17bd;
  --background: #e0e0e0;
}

body {
  text-align: center;
}
