.container {
  height: 20pc;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(216, 216, 143);
}
:root {
  --header: #3a0fca;
  --background: #e0e0e0;
}

body {
  background-color: var(--background);
  font-family: sans-serif;
  text-align: center;
}
