:root {
  background: #8a8282;
}
.container {
  height: 10pc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(216, 216, 143);
}
h1 {
  --header: #3e17bd;
  --background: #e0e0e0;
}

body {
  text-align: center;
}
.section {
  background-color: white;
  font-size: large;
  font-weight: 300;

  margin: 20px;
  padding: 20px;
  border: black;
  border-style: solid;
  text-align: left;
}
.response {
  text-align: left;
}
